body {
    background-color: rebeccapurple;
}

.button {
    background-color: red;
    display: inline-block;
    padding: 10px 15px;
    color: white;
    border: none;
    font-size: 16px
}

img {
    height: 512px;
    width: 480px;
    align: center;
}

h1 {
    font-size: 300%;
    color: white;
    font-family: Verdana;
    text-align: center;
    padding: 50px 0;
}

h2 {
    font-size: 150%;
    color: white;
    font-family: Verdana;
    text-align: center;
    padding: 0px 0;
}